<%= form_with(model: user, class: "user-form") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="user-form-errors">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-form-group">
    <%= form.label :email %>
    <%= form.text_field :email,
          class: user.errors[:email].any? ? "user-input-error" : "user-input" %>
  </div>

  <div class="user-form-group">
    <%= form.label :password %>
    <%= form.password_field :password,
          class: user.errors[:password].any? ? "user-input-error" : "user-input" %>
  </div>

  <div class="user-form-group">
    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.password_field :password_confirmation,
          class: user.errors[:password_confirmation].any? ? "user-input-error" : "user-input" %>
  </div>

  <div class="user-form-group">
    <%= form.label :name %>
    <%= form.text_field :name,
          class: user.errors[:name].any? ? "user-input-error" : "user-input" %>
  </div>

  <div class="user-form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio, rows: 4,
          class: user.errors[:bio].any? ? "user-input-error" : "user-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "user-submit" %>
  </div>
<% end %>
